<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title PINTURAS "LA BROCHA GORDA"
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	strong
		h1 EJERCICIO SIETE
	h2 #Pinturas “La brocha gorda”
	.operacion
		br			
		input#num_one(type="text" placeholder='Mano de obra' class='btn btn-warning')
		button(disabled) X
		input#num_two(type="text" placeholder='m2' class='btn btn-warning')
		button(type='button' onclick="calculo()") =
		input#tarifa(type="text" placeholder='Tarifa' class='btn btn-danger')
	script(type="text/javascript" src="main.js")
	