<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title CÁLCULAR CANTIDAD GALONES DE LECHE
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
body.text-center
	strong
		h1 EJERCICIO CUATRO
	h2 #Cálcular cantidad de galones de leche
	.operacion
		br			
		input#num_one(type="text" placeholder='Litros' class='btn btn-warning')
		button(disabled) a
		input#num_two(type="text" placeholder='Galones' class='btn btn-warning' disabled)
		button(type='button' onclick="convertir()") =
		input#convertido(type="text" placeholder='Resultado' class='btn btn-danger')
	script(type="text/javascript" src="main.js")
		
